body{
    background:#111827;
    color:white;
}

.card{
    background:#1f2937;
    border:none;
    border-radius:15px;
}

.form-control{
    background:#374151;
    color:white;
    border:none;
}

.form-control:focus{
    background:#374151;
    color:white;
}

.result-card{
    background:#1f2937;
    border-radius:15px;
    padding:20px;
    margin-top:15px;
}

.clean{
    color:#22c55e;
    font-weight:bold;
}

.listed{
    color:#ef4444;
    font-weight:bold;
}
